/* page size */
@page {
  size: 6in 9in; /* var(--pagedjs-width) doesn't work in browser when printing */
}
@page :blank {

}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}

@page chapter:left {
  @top-left {
    content: element(runningH1Title);
    white-space: nowrap !important;
    font-size: small;
    font-size-adjust: 0.45;
    color: #666666;
   /* border-bottom: 1px solid rgba(0,0,0,0.25); */
  }
  @bottom-left {
    content: counter(page);
    color: #666666;
    font-size: small;
  }
  @bottom-right: {
    content: "| United Nations High Commissioner for Refugees (UNHCR)";
    white-space: nowrap !important;
    font-size: small;
    font-size-adjust: 0.45;
    color: #666666;
    text-align: left !important;
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}

.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}


@page chapter:right {
  @top-left {
    content: element(runningH1Title);
    white-space: nowrap !important;
    font-size: small;
    font-size-adjust: 0.45;
    color: #666666;
   /* border-bottom: 1px solid rgba(0,0,0,0.25); */
  }

  @bottom-right {
    content: counter(page);
    font-size: small;
    color: #666666;
  }

  @bottom-left: {
    content: "United Nations High Commissioner for Refugees (UNHCR) |";
    white-space: nowrap !important;
    font-size: small;
    font-size-adjust: 0.45;
    color: #666666;
    text-align: left !important;
  }
}

/* New chapter page */
@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page);
  }
}

/* Report first page */
@page :first {

  margin: 0 0 0 0;

  background-color: #ffffff;

  background-image:
    /*radial-gradient(36px at 28mm 77mm , #0072bc 0%, #DEA642 30px, black 32px, #ab8864 34px, black 35px, rgba(255,255,255,0) 36px),
    linear-gradient(rgba(0, 0, 0, 0) 220mm, rgba(17, 22, 28, 0.8) 240mm),*/
    url('unhcr-visibility-horizontal.svg'), url('headerline_triangle.svg'), url('back.png');

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, -20px 56px, bottom right;
  background-size: 40%, 110%, 657px 768px;

  /*margin: 25mm 0 0 0;
  background-color: #ffffff;
   background-image:
   radial-gradient(36px at 28mm 77mm ,
                    #0072bc 0%,
                    #0072bc 30px,
                    black 32px,
                    #ab8864 34px,
                    black 35px,
                    rgba(255,255,255,0) 36px)
        linear-gradient(rgba(0, 0, 0, 0) 220mm, rgba(17, 22, 28, 0.8) 240mm),
     url('header_page.png'),
        linear-gradient(#0072bc 74mm, #ffffff 74mm);
  background-repeat: no-repeat;
  background-position: bottom right;
  filter: blur(0.5px) sepia(75%) saturate(80%);
  background-size: cover, cover, 657px 768px, cover;*/

  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
}

/* Front matter */
@page frontmatter:left {
  @top-left {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}
@page frontmatter:right {
  @top-right {
    content: counter(page, lower-roman);
  }
  @top-left {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}
@page frontmatter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page, lower-roman);
  }
}





/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: recto;
  page: chapter;
}

/* put in 2 columns... */
.level4 {
  columns: 2;
}

.front-matter-container .level1 {
  page: frontmatter;
}

h1 {
  break-after: avoid;
  color: #0072bc;
  font-size: 16pt;
}


.title {
    text-align: right;
    color: #ffffff;
    font-size: 34pt;
    font-weight: bold;
    /*transform: scale(1, 2.2);
    transform-origin: top;*/
    margin-top: 8mm;
    line-height: 50pt;
    bookmark-level: none;
}

.author {
    color: #F5C205;
    text-align: right;
    font-size: 12pt;
    text-transform: none;
    bookmark-level: none;
  }

.date {
    color: #00B398;
    text-align: right;
    text-transform: none;
    bookmark-level: none;
  }

h2 {
  break-after: avoid;
  color: #000000;
  font-size: 13pt;
}

h3, h4, h5, h6 {
  break-after: avoid;
  color: #000000;
  font-size: 12pt;
}

p {
  font-size: 10pt;
  color: #000000;
  text-align: justify;
}


div.abstract {
    color: #999;
    position: fixed;
    top : 235mm;
    text-align: center;
    font-size: 8pt;
    width: 100%;
  }
p.abstract {
    display: none;
  }

.abstract a {
    color: #999;
    text-decoration: none;
  }


.footenotes {
  break-before: always;
  break-after: always;
}

/* for charts  */
.figure {
  break-inside: avoid;
  position: relative;
  padding-top: 4;
}


.caption {
  font-size: 10pt;
  color: #000000;
  text-align: justify;
  position: absolute;
  top: 0;
  left: 0 /* ou 10%, 20% si tu préfères */;
}

/* for code chunk  */
.pre {
  font-size: 10pt;
 /* page-break-inside: avoid; */
  padding-left: 2mm;
  border-left: 2pt solid #785963;
  }

/* reset page numbering after front matter */
.front-matter-container+.level1 h1 {
  counter-reset: page;
}
